.article-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.article {
  position: relative;
  padding-top: 30px;
}

.article-head {
  padding-left: 30px;
  padding-right: 30px;

}

.inline-display {
  display: inline-flex;
  h5 {
  margin-left: 8px;
  margin-bottom: 3px;
  }
}

.article-title {
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
  // padding-left: 10px;
  padding-right: 30px;
  text-align: left;
  align-items: flex-end;

  h3 {
    font-size: 30px;
  };

  // border-radius: 1px;
  // border-style: solid;
  // border-color: red;
}

.article-sidebar {
  background-color: rgb(233, 233, 236);
  padding-top: 30px;
  align-content: center;
}

.sidebar-title {
  display: flex;
  text-align: left;
  align-items: flex-end;
  padding-left: 20px;
  h5 {
    font-weight: bolder;
  }
}

.cover-image {
  background-size: cover;
  background-position: center;
  height: 380px;
  // img {
  //   width: 100%;
  //   object-fit: cover;
  // }
}

.article-infos {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  }
}

.infos-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
  padding-right: 15px;
  padding-left: 10px;
  }
}

.article-body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  .heading {
    display: flex;
    text-align: center;
    align-items: flex-end;
  }
}

.article-content {
  // padding-top: 20px;
  // padding-left: 30px;
  // padding-right: 30px;

  p {
    font-size: 14px;
    opacity: .9;
    padding-top: 2px;
    // margin: 0;
    }
}

.bookmark-show {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}
