<div class="before-vote-card">
  <h5>We value your perspective!</h5>
  <p>Do you believe this article contains political bias?</p>
  <br>
  <%= simple_form_for(new_vote, url: article_votes_path(article), method: :post) do |form| %>
    <div class="vote-box">
      <div class="radio-buttons">
        <%= form.collection_radio_buttons :value, [[1, 'Far Left'], [2, 'Left'], [3, 'Neutral'], [4, 'Right'], [5, 'Far Right']], :first, :last, item_wrapper_tag: :span, item_wrapper_class: 'no-label' %>
      </div>
      <div class="submit-vote">
        <%= form.submit 'Submit Vote' %>
      </div>
    </div>
  <% end %>
<!--  <div class="leaning-bar">
    <img class="leaning-bar-img" src="https://scontent.flyn1-1.fna.fbcdn.net/v/t39.30808-6/408961049_10168689705025230_6075135396710161106_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=3635dc&_nc_ohc=8We3crzaAawAX8H4hX5&_nc_ht=scontent.flyn1-1.fna&oh=00_AfAfLrK--wpwKt-M-KJGcEmRe0tYTmO-E5XzFpS0CsyYqw&oe=6577BEA3" alt="leaning bar">
  </div>-->
</div>
