<div class=“bookmarked”>
  <div class=“bookmarked-heading”><h3>Search Results</h3></div>
  <% @results.each do |article| %>
  <!--  <h3><%#= link_to article.title, article_path(article) %></h3>
    <p><%#= article.content[0,200] %>...</p>
    <br>-->
    <div class=“article-card”>
      <div class=“vote-overlay” style="<%= article.leaning_style %>" > <%= article.leaning_string %> </div>
      <%#= image_tag(article.photo_url) if article.photo_url? %>
      <img src=" <% article.photo_url %> " alt="article photo">
      <h5><%= link_to article.title, article_path(article) %></h5>
      <!--<div class=“bookmark-index” id=“bookmark_index”>-->
        <%# unless article.bookmarked?(current_user) %>
        <%#= link_to article_bookmarks_path(article, origin: “index”), data: { turbo_method: :post } do %>
<!--            <i class=“fa-regular fa-bookmark”></i>-->
          <%# end %>
        <%# else  %>
<!--          <i class=“fa-solid fa-bookmark”></i>-->
        <%# end %>
    </div>
  <% end %>
</div>
