.article-card-sm {
  height: 170px;
  width: 230px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  // border-radius: 1px;
  // border-style: solid;
  // border-color: red;

  h5 {
    font-size: 14px;
    font-weight: bolder;
    opacity: .7;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    }

   img {
    height: 170px;
    width: auto;
  }
}

.related {
  padding: 10px;

}
