.comment-section {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-top: 15px;
  overflow: hidden;

}

.comments {
  padding: 15px;
  margin-top: 15px;
}

.comment {
  padding: 15px;
  margin-top: 15px;
  display: flex;
}

.add-comment {
// jjjjj
}

.timestamp {
  font-size: 12px;
  opacity: .5;
}

.comment-content {
  display: inline-flex;
  align-items: space-between;
  p {
    padding-right: 10px;
  }
}
