.comment-section {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.add-comment {
  margin-bottom: 20px;
}

.show-comment {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}

.comment-likes {
  display: flex;
  justify-content: flex-end;
  right: 0px;
  bottom: 0px;
  display: inline-flex;
  i {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.username {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  padding-right: 20px;
  margin-top: 10px;
}

.bold-text {
  font-weight: bold;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
}
