.navbar {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  background-color: white;
}

.navbar-container {
  position: relative;
  display: flex;
  height: 83px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  i {
    color: #545F70;
    margin-right: 20px;
    font-size: 20px;
  }
  a.hover {
    color: #242930;
  }
}

.navbar-left {
  display: flex;
  align-items: left;
  font-size: larger;
}

.navbar-right {
  display: flex;
  align-items: right;
  font-size: larger;
}

.logo {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 220px;
  margin-left: -110px;

}
