.navbar {
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
  background-color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  i {
    color: rgb(38, 38, 53);
    margin-right: 20px;
  }
}

.navbar-left {
  display: flex;
  align-items: left;
}

.navbar-right {
  display: flex;
  align-items: right;
}

.logo {
  position: center;
  max-width: 220px;
}
