.vote-box {
  display: flex;
  justify-content: space-between;
}

.before-vote-card {
  background-color: rgb(182, 180, 180);
  // margin: 30px;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.submit-vote {
  display: flex;
  align-items: flex-end;
}

.after-vote-display {
  background-color: rgb(212, 209, 209);
  // margin: 30px;
  padding: 15px;
  margin: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  p {
    margin-left: 10px;
  }
}

.vote-value-cards {
  display: flex;
  justify-content: space-evenly;
}

.no-label {
  display: inline-block;
  justify-content: space-between;
  align-items: center;

  input[type="radio"] {
    margin-left: 10px;
    list-style: none;
  }
}

.show-user-vote {
  background-color: white;
  color: #3c485d;
  text-align: center;
  // width: 120px;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.show-leaning {
  background-color: white;
  color: #3c485d;
  text-align: center;
  // width: 120px;
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .radio-buttons {
//   input[type="radio"] {
//     display: inline-block;
//     margin-right: 10px;
//   }
// }
.bold-text {
  font-weight: bolder;
  font-family: "Open Sans";
}
